
@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
}

* {
  font-family: Ubuntu, Helvetica, sans-serif, Arial;
}

body {
  background-color: rgb(237, 243, 245);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 1rem 0rem 1rem;
}

.header-container, .resume-container {
  width: 100%;
  max-width: 992px;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.resume-container {
  background-color: azure;
  border: 1px solid rgba(112, 128, 144, 0.66);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: -4px 6px 2px rgba(112, 128, 144, 0.66);
}